:root {
  --txt-color-negro: #000;
  --bg-btn-primario: #fff;
  --bg-btn-secundario: #dadada;
  --bg-secundario: #dadada;
  --bg-btn-peligro: #ff0000;
  --bg-navbar: #fff;
  --bg-color-blanco: #fff;
  --color-borde: #eb1d35b2;
  --bg-color-scroll: #0000006c;
  --color-general-uno: #eb1d3585;
  --color-borde-dos: #eb1d35;
  --color-dos-landing: #fbb1b9;
  --color-tres-landing: rgb(207, 135, 143);
  --color-general-uno-opaco-dos: #eb1d352c;
  --color-general-dos: #eb1d35;
  --color-general-dos-sombra: #eb1d3549;
  --color-general-tres: #eb1d351f;
  --color-tbl: #eb1d351f;
  --bg-color-blanco-transparent: transparent;
  --color-sombra: #eb1d3550;
  --color-negro: #000;
  --color-blanco: #fff;
  --txt-color-blanco: #fff;
  --bg-color-primario-btn: #dfdfdf;
  --bg-color-secundario-btn: #eb1d35;
  --bg-color-peligro-btn: red;
  --bg-popup-blur: rgba(0, 0, 0, 0.5);
  --bg-popup-shadow: rgba(0, 0, 0, 0.3);
  --color-azul-txt: rgba(128, 0, 128, 0.877);
  --color-hover-drop: #f1f1f1;

  --color-general-page-1: #cf4075;
  --color-general-page-2: #cf40749d;
  --color-general-page-3: #cf407449;
  --color-general-page-4: #cf407428;
  --bg-btn-secundario-page: #b4b4b4;
  --bg-btn-secundario-page-2: #878787;

}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: var(--bg-color-scroll);
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
